@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #f3a683;
    --secondary-color: #f7d794;
    --card-bg: #40916C;
    --card-bg-hover: #2d6a4f;
    --lower-bg: #B7E4C7;
    --background-color: #373A3A;
    --white-color: #fff;
    --font-light-color: #f5f6fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    background: var(--background-color);
}

#main-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    border-radius: 20px;
    background: var(--card-bg);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    width: 400px;
    height: 500px;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    height: 1300px;
    font-weight: 400;
}

#main-container h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#main-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    border: 5px solid var(--white-color);
    margin-bottom: 20px;
}

#main-container #lower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--card-bg-hover);
    background-color: var(--lower-bg);
    border-radius: 20px;
    position: relative;
}

#lower button {
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    background: var(--lower-bg);
    color: var(--card-bg-hover);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 40px;
    box-shadow: 0 5px 10px var(--background-color);
    cursor: pointer;
    padding: 10px 20px;
    position: absolute;
    top: -40px;
}